body{
    background: linear-gradient(135deg, rgba(133,226,255,1) 0%, rgba(133,255,196,1) 50%, rgba(249,222,201,1) 100%) no-repeat;
    background-size: cover;
}
.head-row-first{
    justify-content: center;
}
.main-header{
    background: none;
    height: auto;
}
footer{
    background:white;
}
.main-content{
    padding: 0;
    margin-top: 50px;
}
.form-row{
    justify-content: center;
}
.title{
    margin-top: 56px;
    text-align: center;
    font-family: 'Montserrat', serif;
    font-weight: bold;
    font-size: 36px;
}
.section1 .title{
    margin-bottom: 40px;
}


.yoga, .meditation, .eat{
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 30px;
    padding: 0;
    margin-top: 10px;
}
#med{
    border-color:#0AC6FF;
}
#yog{
    border-color:#00CC69;
}

#eat{
    border-color:#E58776;
}
.yoga .title, .meditation .title, .eat .title, .constr .title{
    margin-top: 20px;
    font-weight: 500;
    padding-bottom: 20px;
    font-size: 30px;
}
.yoga .text, .meditation .text, .eat .text, .constr .text, .price .text{
    padding: 0;
    text-align: center;
    font-family: 'Montserrat', serif;
    font-weight: 400;
    font-size: 22px;
}
.buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
#add{
    border: none;
    margin: 0;
    cursor: pointer;
    font-size: 36px;
}
.btwrap{
    align-items: center;
    margin: 0;
}
.button{
    margin-top: 20px;
    padding: 10px 30px;
    font-family: 'Montserrat', serif;
    font-weight: bold;
    font-size: 20px;
    background: rgb(255, 255, 255, 0);
    border-radius: 35px;
    border-width: 5px;
    border-style: solid;
    color: black;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.button:hover{
    background: rgba(255, 255, 255, 0.5);
}
.raiting, .time{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.time-yoga, .price-yoga, .time-med, .time-eat{
    font-family: 'Montserrat', serif;
    font-weight: bold;
    font-size: 28px;
    color: #00CC69;
    margin: 0;
    text-align: center;
}
.time-med{
    color: #0AC6FF;
}
.time-eat{
    color: #E58776;
}
.price{
    display: flex;
    justify-content: flex-end;
}
.price p{
    margin: 0;
}
.price .title{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 30px;
    background: rgb(255, 253, 253, 0.8);
}
.price .text{
    padding-right: 10px;
}

.area{
    background: #FFFDFD;
    border: 1px solid #949494;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    width: 100%;
    margin-bottom: 40px;
    padding: 20px 50px;
    font-family: 'Montserrat', serif;
    font-weight: 500;
    font-size: 24px;
}

.form-button{
    display: flex;
    justify-content: center;
}
.btn3{
    padding: 25px 100px;
    font-family: 'Montserrat', serif;
    font-weight: bold;
    font-size: 22px;
    background: rgb(255, 226, 255, 0);
    border-radius: 35px;
    border-width: 5px;
    border-style: solid;
    color: black;
    border-color: white;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-bottom: 60px;
    padding: initial;
    width: 30%;
    height: 80px;
    margin-top: 0;
}
.btn3:hover{
    background-color: rgb(255, 255, 255, 0.5);
}
.mc-wrapper{
    display: flex;
    justify-content: center;
}

.center-block{
    margin: 0;
}
@media (max-width: 998px){
    .main-content{
        max-width: 95%;
    }
    .mc-wrapper{
        display: flex;
        justify-content: center;
        margin: 0;
    }
}

@media screen and (max-width: 768px){
    .btn3{
        font-size: 20px;
        padding: 0;
        width: 50%;
    }
    .area{
        font-size: 20px;
    }

}

@media screen and (max-width: 576px){
    .center-block{
        margin-left: 10px;
        margin-right: 10px;
    }
    .btn3{
        width: 100%;
        height: 70px;
        font-size: 18px;
    }
    .center-block{
        display: flex;
        justify-content: center;
    }
    .title{
        font-size: 24px;
        padding-bottom: 30px;
    }
    .yoga, .meditation, .eat, .constr{
        max-width: 95%;
    }

    .yoga .title, .meditation .title, .eat .title, .constr .title{
        font-size: 22px;
    }
    .yoga .text, .meditation .text, .eat .text, .constr .text, .price .text{
        font-size: 18px;
    }
    #add, .button{
        font-size: 20px;
    }
    #yog, #med, #eat{
        font-size: 16px;
    }
    .area{
        font-size: 14px;
        padding: 20px;
    }
    .button{
        padding: 5px 10px;
    }
    .time-yoga, .time-med, .time-eat{
        font-size: 18px;
    }
}