*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.main-header{
    background: url('../img/mainScreenLanding.png') no-repeat center;
    height: 774px;
    background-size:cover;
}

.container{
    padding: 0;
}

.head-row-first{
    padding: 40px 0 0 0 ;
    align-items: center;
}

.logo{
    width: 290px;
    height: 50px;
    padding: 0;
}

.phone-basket{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
}

.phone{
    width: 35px;
    height: 35px;
}
.phone1, .basket1{
    display: none;
}
.basket{
    margin-left: 35px;
    width: 45px;
    height: 45px;
}
.burger{
    margin-top: 200px;
    z-index: 3;
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 90%;
    padding: 0;
}
#menu-toggle{
    opacity: 0;
}
.menu-btn {
    display: flex;
    position: absolute;
    align-items: center;
    width: 30px;
    height: 40px;
    cursor: pointer;
    z-index: 2;
}
.menu-btn > span,
.menu-btn > span::before,
.menu-btn > span::after {
    display: block;
    position: absolute;
    align-items: center;
    width: 100%;
    height: 2.1px;
    background-color:white;
}
.menu-btn > span::before {
    content: '';
    top: -10px;
    transition: 300ms;
}
.menu-btn > span::after {
    content: '';
    top: 10px;
    transition: 300ms;
}
.menu-burger {
    display: flex;
    visibility: hidden;
    top: 20px;
    width: 100%;
    height: 150px;
    margin-left: 70px;
    padding: 0 3%;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255, 0.9);
}
ul{
    list-style: none;
}
.scroll {
    display: block;
    font-family: 'Montserrat', serif;
    font-weight: 400;
    font-size: 18px;
    color:black;
    text-decoration: underline 0.15em rgb(0, 128, 0, 0);
}
.scroll:hover {
    text-decoration: underline 0.15em rgb(0, 128, 0, 1);
    color: black;
    transition: 500ms;
}
#menu-toggle:checked ~ .menu-btn > span {
    transform: rotate(45deg);
   transition: 300ms;
}
#menu-toggle:checked ~ .menu-btn > span::before {
    top: 0;
    transform: rotate(0);
    background-color: #F6FBFF;
   transition: 300ms;
}
#menu-toggle:checked ~ .menu-btn > span::after {
   top: 0;
   background-color: #F6FBFF;
   transform: rotate(90deg);
   transition: 300ms;
}
#menu-toggle:checked ~ .menu-burger {
    visibility: visible;
    right: 0;
}

.main-content{  /*єто клас контента которій будет лежать под менюшкой*/
    z-index: 1; /*остальные стили дописывать в свой файл*/
    position: relative;
}



.footer{
    display: flex;
    height: 240px;
    padding-top: 65px;
}
.footer-row{
    align-items: center;
}
.netw{
    display: flex;
    justify-content: center;
    align-items: center;
}
.instagram{
    width: 60px;
    height: 60px;
}
.youtube{
    margin-left: 40px;
    width: 60px;
    height: 60px;
}
.facebook, .twitter{
    margin-left: 40px;
    width: 50px;
    height: 50px;
}
.footer-number{
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.number{
    font-family: 'Montserrat', serif;
    font-weight: 400;
    font-size: 24px;
    margin: 0;
}
.footer-phrase{
    font-family: 'Montserrat', serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    margin-top: 50px;
}

footer img{
    width: 50%;
}

@media screen and (max-width: 992px){
    .phone, .basket{
        display: none;
    }
    .phone1, .basket1{
        display: flex;
        width: 35px;
        height: 35px;
    }
    .basket1{
        margin-left: 35px;
        width: 45px;
        height: 45px;
    }
    .burger{
        position: relative;
        margin-top: 0;
        padding: 0;
        width: fit-content;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .menu-btn{
        margin: 0;
        margin-top: 10px;
    }
    .menu-burger {
        display: block;
        position: absolute;
        width: 500px;
        margin-top: 30px;
        height: fit-content;
    }
    .scroll{
        line-height: 50px;
        margin: 30px 80px;
    }
    .menu-btn > span,
    .menu-btn > span::before,
    .menu-btn > span::after {
        height: 2px;
    }

    .netw{
        display: flex;
        justify-content: flex-end;
        margin-bottom: 5%;
    }

    .number{
        margin-right: 2%;
    }

    footer img{
        width: 60%;
    }

    .footer-row{
        justify-content: space-between;
        align-items: flex-start;
    }
}

@media screen and (max-width: 768px){

    footer img{
        width: 70%;
    }

    .footer{
        padding-top: 30px;
    }
    .basket1{
        margin-left: 35px;
        margin-right: 20px;
        width: 45px;
        height: 45px;
    }
    .footer-row{
        justify-content: space-between;
    }
    .netw img{
        margin-left: 20px;
    }
     
}

@media screen and (max-width: 576px){
    .basket1{
        margin-left: 15px;
    }
    .menu-burger{
        width: 300px;
    }
    .main-header{
        height: 815px;
        background: url('../img/mainScreenLanding.png') no-repeat left;
        background-size:cover;
    }
    .container{
        padding: 0 5%;
    }
    .logo{
        width: 180px;
    }
    .basket1{
        width: 35px;
    }
    .phone1{
        width: 30px;
    }
    footer .logo{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    } 

    .netw{
        justify-content: center;
        margin: 0;
    }
    .footer-number{
        margin-top: 20px;
    }

    .netw img{
        width: 40px;
        height: auto;
        margin-left: 20px;
    }

    .netw img:nth-child(2n){
        width: 30px;
        height: auto;
    }

    .number{
        margin-right: 0;
    } 
    .menu-btn > span,
    .menu-btn > span::before,
    .menu-btn > span::after {
        height: 1.8px;
    }
    
    .footer-row{
        align-items: center;
    }
    .footer-number{
        justify-content: center;
    }
}
